$nombreproducto: rgba(13, 2, 51, 0.967);
$precioproducto: rgb(18, 150, 86);



.product-cate {
    justify-content: center;
        .product-tot{
            margin: 1em;
            background-color: rgba(247, 191, 199, 0.549);
            border-radius: 5%;
                        .product-des{
                            text-align: center;
                            margin-top: 23px;
                                h5{
                                    font-size: 16px;
                                    color: $nombreproducto;
                                    margin-bottom: 0;
                                }
                                p{
                                    font-size: 18px;
                                    font-weight: 600;
                                    color: $precioproducto;
                                    text-align: center;
                                }
            }
        }
}

.row{
    --bs-gutter-x: 0;
}
.product-top .product-sec h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
}
.product-cate img{
    width: 100%;
}
