@import "variableglobal";
@import "generales";
@import "extends";
@import "productos";
@import "novedades";
@import "accesorios";
@import "maquillaje";
@import "sale";
@import "inforapida";
@import "inforapida2";
@import "skincare";
@import "breadcrumbs";
@import "media";
@import "formulario";
@import "filtros";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Carrois+Gothic+SC&family=Gafata&family=Nunito:ital,wght@0,300;0,400;1,200&family=Yusei+Magic&display=swap');

/* Index */
.main h2{
    color: rgb(179, 102, 167);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
}
.main p{
    background-color: rgba(240, 238, 238, 0.699);
    text-align: center;
    padding: 15px;
    margin:15px
}
.main-sections img{
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}
.imgcat{
    width: 200px;
}
.marcas{
    color: rgb(95, 23, 84);
    text-align: center;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.63);
}

.marcas img:hover{
    transform: scale(1.2);
}
.categorias{display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 100px;
}

.cateogy-makeup{
    padding: 10px;
}
.category-accesorios{
    padding: 10px;
}
.category-skincare{
    padding: 10px;
}
section p{
    padding: 20px;
}
@media (max-width: 576px) {
    .info-rapida{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "envio"
        "cuotas"
        "whatsapp";
        width: 100%;
    }
    .section-1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "marcas"
        "categorias";
        align-items: center;
    }
    .marcas{
        grid-area: marcas;
    }
    .marcas img{
        width: 10%;
    }
    .marcas h2{
        font-size: medium;
        border: solid rgba(0, 0, 0, 0.563);
    }
    .categorias{
        grid-area: categorias;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "makeup"
        "skincare"
        "accesorios";
        margin: 10px;
        padding: 10px;
        gap: 10px;
    }
    .imgcat{
        width: 100%;
    }
    .category-makeup{
        grid-area: makeup;
    }
    .category-skincare{
        grid-area: skincare;
    }
    .category-accesorios{
        grid-area: accesorios;
    }
}